<html>
  <head><title>{{title}}</title></head>
  <body >
    <h2>{{title}}</h2>
    <img src="http://placekitten.com/g/{{imgWidth}}/250" style="float:left;margin-right:10px;margin-bottom:10px;"/>
    <p>{{bodyText1}}</p>
    <h4>Brontoscopy</h4>
    <p>{{bodyText2}}</p>
    <p>brontoscopic</p>
    
    
  </body>

</html>